

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    /* background-color: #000; */
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
  }
  
  .service-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-group label {
    font-size: 0.875rem;
    color: #666;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7f7f7;
    outline: none;
  }
  
 
  .submit-button {
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  